# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Django
db.sqlite3
*.log

# Virtual environment
venv/
env/
ENV/
.venv/
.env/

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations
**/migrations/__pycache__/
**/migrations/*.pyc

# Static and media files (optional)
staticfiles/
media/